<html ng-app>
    <head>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
        
    </head>
    <body>
        <h2>dfddsg</h2>
        <input type="text" ng-model="name1"/>
        <p ng-bind="name1"></p>
        <!--<template name="subscription">-->
    <form id="payment_form" name="payment_form" action="https://test.payu.in/_payment" method="post">
        <input type="hidden" name="key" value="gtKFFx">
        <input type="hidden" name="hash" value="6169DBC3BA766CE41A3FAC86E973D90B38ABE32C34B92B446FF47A1566D542CC7AF34FBAD364406EAF9EE6F39672090163E5120FA63436F3D59F42556BAE5BDF">
        <input type="hidden" name="txnid" value="tid1">
        <input type="hidden" name="amount" value="1000">
        <input type="hidden" name="productinfo" value="sdfsd">
        <input type="hidden" name="firstname" value="sdfdsf">
        <input type="hidden" name="email" value="sdfds@dsfsd.com">
        <input type="hidden" name="phone" value="9785411632">
        <input type="hidden" name="surl" value="sdfsd">
        <input type="hidden" name="furl" value="">
        <input type="hidden" name="service_provider" value="">
        <input type="hidden" name="curl" value="">
        <input type="hidden" name="lastname" value="">
        <input type="hidden" name="address1" value="">
        <input type="hidden" name="address2" value="">
        <input type="hidden" name="city" value="">
        <input type="hidden" name="state" value="">
        <input type="hidden" name="country" value="">
        <input type="hidden" name="zipcode" value="">
        <input type="hidden" name="udf1" value="">
        <input type="hidden" name="udf2" value="">
        <input type="hidden" name="udf3" value="">
        <input type="hidden" name="udf4" value="">
        <input type="hidden" name="udf5" value="">
        <input type="hidden" name="pg" value="">
        <div class="main-section subscription inherit-props l-1-8">
            <div class="main-card">
                <div class="col-sm-6 col-md-6">
                    <br/>
                    <div class="subscription-card">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1>Subscription</h1></div>
                            <div></div>
                            <div class="panel-body">
                                <div class="content">
                                    You can subscribe to our services to have access to our unlimited trade advices.
                                    <br/> Your account expires by the end of the duration of the subscription.
                                </div>
                                <br/>
                                <div class="btn-grp-create-btns">
                                    <br/>
                                    <table>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b1" id="1day" value="1000">1 Day&nbsp;</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.1,000/-</label>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b2" id="1week" value="4000">1 Week&nbsp;</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.4,000/-</label>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b3" id="1month" value="20000">1 Month&nbsp;</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.20,000/-</label>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b4" id="3month" value="55000">3 Months</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.55,000/-</label>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b5" id="6month" value="100000">6 Months</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.1,00,000/-</label>
                                                <br/>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="create subscription-plan" name="b6" id="12month" value="180000">&nbsp;&nbsp;1 Year&nbsp;&nbsp;&nbsp;</button>
                                            </td>
                                            <td>
                                                <label class="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rs.1,80,000/-</label>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                    </table>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <br/>
                    <div class="wallet-card">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <center>
                                    <h1>Wallet</h1></center>
                            </div>
                            <div class="panel-body">
                                <div class="content">
                                    When you successfully create a portfolio, <i>Rs.1,500 plus Rs. 100 per every stock between 6-20 stocks is deducted from the wallet.</i>
                                    <br/>
                                    <br/>
                                    <div class="Note">
                                        For example, if you select<strong> the minimum 5 stock portfolio, Rs.1500 is deducted from the wallet.
                          If you successfully create a 20 stock portfolio, Rs.1,500 + Rs. 100*(20-5) = Rs.3,000 is deducted from the wallet.
                          For every row in the Daily Forecast table Rs.100 is deducted from the wallet.</strong>
                                        <br/>
                                        <center>
                                            <table>
                                                <tr>
                                                    <td><strong>Portfolio</strong></td>
                                                    <td><b><i>  Rs.1,500/-(5 stocks)+ Rs.100/- per stock (6-20)</i></b></td>
                                                </tr>
                                                <tr>
                                                    <td><strong>Daily Forecast</strong> &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                                    <td><b><i>Rs.100/- for every advice.</i></b></td>
                                                </tr>
                                            </table>
                                        </center>
                                    </div>
                                </div>
                                <br/>
                                <div class="trd-field">
                                    <div class="trd-lbl">Enter the amount for your wallet</div>
                                    <div class="trd-input">
                                        <input type="text" placeholder="Enter at least Rs.1500 for portfolio creation" value="{{Amount}}" name="wallet" class="numberOnly wallet-amount">
                                        <div ng-bind="wallet"></div>
                                    </div>
                                </div>
                                <center>
                                    <div class="create-btns">
                                        <input type="submit" class="create wallet-button" value="Add Money">
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--</template>-->
    </body>
</html>

