.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  z-index: 200;
  background-color: dodgerblue;
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: lightslategray;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  font-size: 15px;
}

.navbar-right {
  margin-right: 20px;
  margin-top: 17px;
}

.navbar-right:hover {
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  height: 9%;
  background-color: dodgerblue;
  position: absolute;
  z-index: 200;
}

.nav-menu>.appName {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  width: 150px;
  float: left;
}

.nav-menu>.appName:hover {
  font-size: 21px;
}

.nav>li {
  margin-left: 350px;
}

.landing>img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.8;
}

.loginContainer {
  position: absolute;
  height: 250px;
  width: 300px;
  margin-top: 15%;
  margin-left: 7%;
}

.loginBtn {
  margin-left: 100px;
}


/*Services page*/

.services {
  /*background-image: url("../images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
.service-container {
  margin-top:5%;
  margin-left:10%;
  width: 80%;
  height: 100%;
  /*background-color: lightblue;*/
}
.service {
  margin-left: 5%;
  margin-top:5%;
  padding-left: 5%;
  padding-top: 7%;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 20px;
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color:#8592c1;
  color: black;  
  transition: background-color 0.7s;
}
.service:hover {
  background-color: #133d67;
  color: white;
  cursor: pointer;
}